{
    "extends": [
        "prettier",
        "airbnb/base"
    
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "all",
                "singleQuote": true
            }
        ],
        "import/no-namespace": [
            "error"
        ]
    },
    "plugins": [
        "prettier"
    ]
}